*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    color: white;
}

body{
    background-color: #010B23;
}

.contact{
    width: 90%;
    margin: auto;
}

.left{
    text-align: center;
}

.left .get{
    font-size: 2rem;
    margin: 30px;
}

.c-greet{
    margin-bottom: 20px;
}

form{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.field{
    margin-bottom: 30px;
}

label{
    color: black;
}

input[type="text"]{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    /* border: 0; */
    border-color: rgba(169, 169, 169, 0.3);
}

input[type="text"]:focus{
    border-width: thin;
    border: 1px solid #43A047;
    outline: none;
    box-shadow: 0px 5px 10px darkgray;
}

textarea{
    width: 100%;
    border-radius: 5px;
    resize: none;
    padding: 15px;
    border-color: rgba(169, 169, 169, 0.3);
}

textarea:focus{
    border-width: thin;
    border: 1px solid #43A047;
    outline: none;
    box-shadow: 0px 5px 10px darkgray;
}

input[type="button"]{
    padding: 15px;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    background-color: #43A047;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    border: transparent;
}

.pnum, .mail, .socials{
    display: none;
}

/* DESKTOP STYLES */

@media screen and (min-width: 800px) {
    .contact{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        margin-top: 55px;
    }

    .left{
        width: 50%;
        text-align: left;
    }

    .left .get{
        margin-left: 0;
        font-size: 3rem;
    }

    .c-greet{
        width: 50%;
    }

    .pnum, .mail, .socials{
        display: flex;
        align-items: center;
        margin: 50px auto;
        /* border: 1px solid white; */
    }

    .right{
        width: 40%;
    }

    .pnum img, .mail img{
        margin-right: 20px;
    }
    
    .socials{
        max-width: 60%;
        margin-left: 0;
    }

    .socials img{
        margin-right: 30px;
    }

    
}