body{
    position: relative;
}

.mb-content, .v-values{
    /* height: 100vh; */
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.heading, .ab-heading{
    text-align: center;
    font-size: 2.3rem;
    padding: 10px;
}

.illustration-2 img{
    width: 60%;
}

.value{
    margin: 30px;
}

.value img{
    margin: 20px;
}

.text-content .medium{
    margin: 10px;
    font-size: 1.3rem;
}

.bulb1{
    width: 80%;
    position: absolute;
    top: 62%;
    left: 10%;
    opacity: 0.3;
    z-index: -3;
}

.bulb2{
    width: 80%;
    position: absolute;
    bottom: -2%;
    left: 10%;
    opacity: 0.3;
    z-index: -3;
    transform: rotate(180deg);
}

/* DESKTOP STYLES */

@media screen and (min-width: 800px) {
    .mb-content{
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    .ab-content{
        order: 2;
        flex: 1;
        text-align: left;
        width: 50%;
    }

    .illustration-2{
        width: 50%;
    }


    .heading{
        font-size: 3rem;
        padding: 0px;
        margin-bottom: 50px;
    }

    .ab-heading{
        text-align: left;
    }

    .v-container{
        display: flex;
        align-items: center;
    }

    .values{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        width: 70%;
    }

    .value{
        display: flex;
        align-items: center;
    }
    
    .bulb2{
        display: none;
    }

    .bulb1{
        position: static;
        width: 30%;
    }

    .text-content .medium{
        text-align: left;
        padding: 0;
        margin: 0 0 10px 0;
    }


}