body{
    position: relative;
}

.mb-content, .v-values, .as-content{
    /* height: 100vh; */
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.mb-content{
    height: 70vh;
}

.heading, .ab-heading{
    text-align: center;
    font-size: 2.3rem;
    padding: 10px;
}

.illustration-2 img{
    width: 60%;
}

.as-section .illustration-2 img{
    width: 90%;
}

.value, .service{
    margin: 30px;
}

.value img{
    margin: 20px;
}

.text-content .medium{
    margin: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.text-content .large{
    font-size: 1.5rem;
    margin: 10px;
}

.bulb1{
    width: 70%;
    position: absolute;
    top: 1600px;
    left: 15%;
    opacity: 0.3;
    z-index: -3;
}

.bulb2{
    width: 70%;
    position: absolute;
    bottom: 55%;
    left: 15%;
    opacity: 0.3;
    z-index: -3;
    transform: rotate(180deg);
}

.sc-content{
    width: 90%;
    margin: auto;
}


.sc-container{
    text-align: center;
}

.service{
    margin-bottom: 40px;
}

.service img{
    width: 50%;
    margin-bottom: 20px;
}


#login{
    background-image: url("../assets/img/icons/Icon\ open-account-login.svg");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 65% 50%;
    padding-left: 120px;
    text-align: left;
}

#donate{
    background-image: url("../assets/img/icons/Icon\ awesome-donate.svg");
    padding-left: 60px;   
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 75% 50%;
    text-align: left;
}

.join-us{
    background-color: #C9540F;
    /* width: 100%; */
}

.join-us .inner{
    width: 90%;
    margin: auto;
    padding: 10px 0 20px 0;
}

footer{
    width: 90%;
    margin: auto;
}

.f-heading, .f-links{
    display: flex;
    align-items: center;
}

.f-links{
    margin-bottom: 30px;
}

.f-heading{
    margin: 30px auto;
}

.left-content .medium{
    font-size: 2rem;
}

.hide{
    display: none;
}

.socials{
    text-align: right;
}

.socials img{
    width: 20%;
    padding: 8px;
}

.left-links{
    flex: 1;
}

.left-links p, .right-links p{
    margin-bottom: 25px;
    color: white;
    text-decoration: none;
}

.left-links a, .right-links a{
    color: white;
    text-decoration: none;
}

.msg{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.msg img{
    margin-right: 10px;
}

input[type="text"]{
    width: 100%;
    padding: 5px;
    border: hidden;
    border-bottom: 1px solid white;
    outline: none;
    background-color: #010B23;
    color: white;
    font-size: 1.1rem;
}

input[type="text"]:focus{
    border-color: #C9540F;
}

.subscription input[type="button"]{
    margin-bottom: 50px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.copyright img{
    margin-right: 10px;
}


/* DESKTOP STYLES */

@media screen and (min-width: 800px) {
    .mb-content{
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    .ab-content{
        order: 2;
        flex: 1;
        text-align: left;
        width: 50%;
    }

    .illustration-2{
        width: 50%;
    }


    .heading{
        font-size: 3rem;
        padding: 0px;
        margin-bottom: 50px;
    }

    .ab-heading{
        text-align: left;
    }

    .v-container, .sc-container{
        display: flex;
        align-items: center;
    }

    .values{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        width: 70%;
    }

    .value, .as-section{
        display: flex;
        align-items: center;
    }

    .join-us{
        height: 100vh;
    }

    .as-section{
        justify-content: center;
    }
    
    .bulb2{
        display: none;
    }

    .bulb1{
        position: static;
        width: 30%;
        opacity: 1;
    }

    .text-content .medium{
        text-align: left;
        padding: 0;
        margin: 0 0 10px 0;
    }

    .tx .medium{
        text-align: center;
        padding: 0;
        margin: 0 0 10px 0;
    }

    .as-section .illustration-2{
        order: 2;
    }

    .as-section .illustration-2 img{
        width: 100%;
        margin: 60px;
    }

    #donate, #login{
        text-align: center;
        padding-left: 0;
    }

    .join-us .illustration img{
        width: 85%;
    }

    .as-section .text-content{
        width: 40%;
    }

    .text-content .large{
        font-size: 3rem;
        margin-bottom: 40px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .f-heading{
        flex-basis: 100%;
    }

    .left-content{
        flex: 1;
    }

    .f-links{
        flex: 1;
    }

    .left-links{
        flex: 0.5;
    }

    .socials img{
        width: 15%;
        padding: 8px;
    }

}