*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #010B23;
}

:root{
    font-size: 16px;
    color: white;
}

.ag-login{
    width: 90%;
    margin: auto;
    text-align: center;
}

.h-text{
    font-size: 3rem;
    margin: 30px 0px;
}

.slogan{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.field{
    margin-bottom: 50px;
}

.field label{
    display: block;
    width: 100%;
    text-align: left;
}

.field input[type="text"], .field input[type="password"]{
    width: 100%;
    padding: 10px;

}


/* DESKTOP STYLES */
@media screen and (min-width: 800px){

}