*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
}

.container, .navbar-brand{
    display: flex;
    align-items: center;
    
}

.container{
    padding-top: 10px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* border: 1px solid white; */
}

.navbar-brand{
    flex: 1;
}

.navlinks{
    display: none;
    align-items: center;
}

.navbar-brand p{
    padding: 0 10px;
    font-size: 1.5rem;
}

.navlinks li{
    padding: 15px;
    list-style: none;
    width: 100%;
}

.links{
    color: white;
    text-decoration: none;
}

.t-link{
    color: black;
    text-decoration: none;
}

/* hamburger */

.burger{
    display: block;
}

.team .line1, .team .line2, .team .line3{
    background-color: black;color: black;
}

.line1, .line2, .line3{
    margin: 3px;
    padding: 3px;
    width: 35px;
    background-color: white;
    transition: all 0.3s ease;
}

.resNav .line1{
    transform: rotate(45deg) translate(5px, 8px);
}

.resNav .line2{
    transform: translateX(-500px);
    opacity: 0;
}

.resNav .line3{
    transform: rotate(-45deg) translate(5px, -8px);
}

.navlinks.navSlide{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

/* footer styles */
footer{
    width: 90%;
    margin: auto;
}

.f-heading, .f-links{
    display: flex;
    align-items: center;
}

.f-links{
    margin-bottom: 30px;
}

.f-heading{
    margin: 30px auto;
}

.left-content .medium{
    font-size: 2rem;
}

.hide{
    display: none;
}

.socials{
    text-align: right;
}

.socials img{
    width: 20%;
    padding: 8px;
}

.left-links{
    flex: 1;
}

.left-links p, .right-links p{
    margin-bottom: 25px;
    color: white;
    text-decoration: none;
}

.left-links a, .right-links a{
    color: white;
    text-decoration: none;
}

.t-help a, .t-help a{
    color: black;
    text-decoration: none;
}



.msg{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.msg img{
    margin-right: 10px;
}

.subscription input[type="button"]{
    margin-bottom: 50px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.copyright img{
    margin-right: 10px;
}



@media screen and (min-width: 800px) {
    .burger{
        display: none;
    }

    .navlinks{
        display: flex;
    }

    .navlinks li{
        width: auto;
    }

    .navbar{
        position: none;
    }

    #createacc{
        border: 1px solid transparent;
        padding: 15px;
        background-color: #43A047;
        border-radius: 10px;
    }

    #createacc a{
        color: white;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .f-heading{
        flex-basis: 100%;
    }

    .left-content{
        flex: 1;
    }

    .f-links{
        flex: 1;
    }

    .left-links{
        flex: 0.5;
    }

    .socials img{
        width: 15%;
        padding: 8px;
    }
}