<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/about.css">
    <title>About AgriCrop</title>
</head>
<body>
    <!-- navigation bar -->
    <div class="navbar nav-white">
        <!-- navbar content -->
        <div class="container">
            <!-- navbar brand -->
            <a href="index.html" class="navbar-brand black">
                <!-- logo -->
                <img src="../assets/img/logo/Logo-black.png" alt="" width="50">
                <!-- company name -->
                <p class="brand">AgriCrop</p>
            </a>
            <!-- end of navbar brand -->

            <!-- hamburger menu -->
            <div class="burger team">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- nav links -->
            <nav>
                <ul class="navlinks">
                    <li><a href="homepage.html" class=" t-link">Home</a></li>
                    <li><a href="about.html" class=" t-link">About Us</a></li>
                    <li><a href="services.html" class=" t-link">Services</a></li>
                    <li><a href="team.html" class=" t-link">Team</a></li>
                    <li><a href="contact.html" class=" t-link">Contact Us</a></li>
                    <li><a href="login.html" class=" t-link">Login</a></li>
                    <li id="createacc"><a href="signup.html" class="t-link">Create account</a></li>
                </ul>
            </nav>
            <!-- end of nav links -->
        </div>
        <!-- end of navbar content -->
    </div>
    <!-- end of navigation bar -->

    <!-- main content -->
    <main>
        <section class="jumbotron">
            <img src="../assets/img/backgrounds/federico-respini-sYffw0LNr7s-unsplash.jpg" alt="">
        </section>
    </main>

<script src="../js/index.js"></script>
</body>
</html>