<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriCrop - User</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/ushome.css">
    <link rel="stylesheet" href="../css/addNewTask.css">
    <link rel="stylesheet" href="../css/livestock.css">
</head>

<body>

    <!-- end of navigation bar -->

    <!-- page content -->
    <div class="form-content">


        <!-- right content -->
        <div class="addNewTask-right-side">
            <!-- topbar -->
            <div class="topbar">
                <div class="settings">
                    <img src="../assets/img/icons/icons8-settings-100.png" alt="">
                </div>
            </div>


            <div class="livestock-form">
                <form action="addNewCrops.php" name="addNewCrops" id="addNewCrops" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <label for="name">Name</label>
                        <div class="input">
                            <input type="text" id="name" name="name" placeholder="Enter the crop name.">
                        </div>
                    </div>

                    <div class="row">
                        <label for="plantspacing">Plant Spacing</label>
                        <div class="input">
                            <input type="text" id="plantspacing" name="plantspacing" placeholder="Enter Plant Spacing.">
                        </div>
                    </div>

                    <div class="row">
                        <label for="rowspacing">Row Spacing</label>
                        <div class="input">
                            <input type="text" id="rowspacing" name="rowspacing" placeholder="Enter Row Spacing.">
                        </div>
                    </div>

                    <div class="row">
                        <label for="plantingdepth">Planting Depth</label>
                        <div class="input">
                            <input type="text" id="plantingdepth" name="plantingdepth" placeholder="Enter Planting Depth.">
                        </div>
                    </div>

                    <div class="row">
                        <label for="plantdate">Plant Date</label>
                        <div class="input">
                            <input type="date" id="plantdate" name="plantdate" placeholder="Enter Planting Date.">
                        </div>
                    </div>

                    <div class="row">
                        <label for="harvestdate">Harvest Date</label>
                        <div class="input">
                            <input type="date" id="harvestdate" name="harvestdate" placeholder="Enter Harvesting Date.">
                        </div>
                    </div>

                    <div class="row">
                        <label for="harvestunit">Harvest Unit</label>
                        <div class="input">
                            <input type="number" id="harvestunit" name="harvestunit" placeholder="Enter the Harvest Unit.">
                        </div>
                    </div>

                    

                    
                    <div class="input">
                        <button type="submit" name="submit" value="submit">Submit</button>
                    </div>

                </form>



            </div>

        </div>
    </div>
    <!-- footer -->
    <div class="footer-style">
        <img src="../assets/img/icons/Icon awesome-copyright.svg" alt="">
        <p>2021 AgriCrop</p>
    </div>


</body>

</html>