<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <title>AgriCrop</title>
</head>
<body>
    <!-- navigation bar -->
    <div class="navbar">
        <!-- navbar content -->
        <div class="container">
            <!-- navbar brand -->
            <div class="navbar-brand">
                <!-- logo -->
                <img src="../assets/img/logo/Layer 2.svg" alt="" width="50">
                <!-- company name -->
                <p class="brand">AgriCrop</p>
            </div>
            <!-- end of navbar brand -->

            <!-- hamburger menu -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- nav links -->
            <nav>
                <ul class="navlinks">
                    <li><a href="" class="links">Home</a></li>
                    <li><a href="" class="links">About Us</a></li>
                    <li><a href="" class="links">Services</a></li>
                    <li><a href="" class="links">Contact Us</a></li>
                    <li><a href="" class="links">Login</a></li>
                    <li id="createacc"><a href="" class="links">Create account</a></li>
                </ul>
            </nav>
            <!-- end of nav links -->
        </div>
        <!-- end of navbar content -->
    </div>
    <!-- end of navigation bar -->

    <!-- main content -->
    <main>
        <section class="presentation">
            <!-- intro text -->
            <div class="intro-header">
                <p class="large">A Way of Revolutionizing Agriculture</p>
            </div>

            <!-- illustration -->
            <div class="illustration">
                <img src="../assets/img/illustration/h3.svg" alt="" width="620" >
            </div>

            <!-- closing text -->
            <div class="c-text">
                <p class="medium medium-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <input type="button" value="Learn more" onclick="document.location.href='homepage.html'">
            </div>
        </section>

        <!-- section 2 About section-->
        <section class="mb-content">
            <!-- heading -->
            <div class="ab-content">
                <p class="heading ab-heading">About AgriCrop</p>

                <p class="medium medium-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                <p class="medium medium-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
            </div>

            <!-- illustration -->
            <div class="illustration-2">
                <img src="../assets/img/illustration/plant.svg" alt="">
            </div>
            
        </section>
        <!-- end of section 2 -->


        <!-- start of values section -->
        <section class="v-values">
            <!-- heading -->
            <p class="heading">Our values</p>

            <!-- container -->

            <div class="v-container">
                <!-- content -->
                <div class="values">
                    <!-- value item -->
                    <div class="value">
                        <!-- icon -->
                        <img src="../assets/img/icons/Icon awesome-lightbulb.svg" alt="" width="70">
                        <!-- text -->
                        <div class="text-content">
                            <p class="medium">INNOVATION</p>
                            <p >We foster a work environment where creative thinking is encouraged and rewarded in order to create opportunities for process improvement and more cost-effective sustainable products and services, providing value to the Company and our customers.</p>
                        </div>
                        
                    </div>
                    
                    <!-- value item -->
                    <div class="value">
                        <!-- icon -->
                        <img src="../assets/img/icons/Icon material-high-quality.svg" alt="" width="70">
                        <!-- text -->
                        <div class="text-content">
                            <p class="medium">QUALITY</p>
                            <p >We foster a work environment where creative thinking is encouraged and rewarded in order to create opportunities for process improvement and more cost-effective sustainable products and services, providing value to the Company and our customers.</p>
                        </div>
                    </div>

                    <!-- value item -->
                    <div class="value">
                        <!-- icon -->
                        <img src="../assets/img/icons/Icon awesome-connectdevelop.svg" alt="" width="70">
                        <!-- text -->
                        <div class="text-content">
                            <p class="medium">CUSTOMER</p>
                            <p >We foster a work environment where creative thinking is encouraged and rewarded in order to create opportunities for process improvement and more cost-effective sustainable products and services, providing value to the Company and our customers.</p>
                        </div>
                    </div>

                    
                </div>
                <!-- end of content -->

                <!-- illustrations -->
                <img src="../assets/img/illustration/Layer -1.svg" alt="" class="bulb1">
                <img src="../assets/img/illustration/Layer -1.svg" alt="" class="bulb2">

            </div>

        </section>

        <!-- services section -->
        <section class="sc-content">
            <!-- heading -->
            <p class="heading">What we offer?</p>

            <!-- intro text -->
            <p class="medium">We strive to provide exceptional customer service through flexible scheduling, quality products, efficient services, and innovative solutions resulting in value to the customer and company.</p>

            <div class="sc-container">
                <div class="service">
                    <!-- icon -->
                    <img src="../assets/img/icons/icons8-raspberry-200.svg" alt="">
                    <!-- text -->
                    <div class="text-content tx">
                        <p class="medium">FARM PRODUCE</p>
                        <p>We strive to provide exceptional customer service through flexible scheduling, quality products, efficient services, and innovative solutions resulting in value to the customer and company.</p>
                    </div>
                    
                </div>

                <div class="service">
                    <!-- icon -->
                    <img src="../assets/img/icons/icons8-raspberry-200.svg" alt="">
                    <!-- text -->
                    <div class="text-content tx">
                        <p class="medium">ONLINE SHOPPING</p>
                        <p>We strive to provide exceptional customer service through flexible scheduling, quality products, efficient services, and innovative solutions resulting in value to the customer and company.</p>
                    </div>
                </div>

                <div class="service">
                    <!-- icon -->
                    <img src="../assets/img/icons/icons8-raspberry-200.svg" alt="">
                    <!-- text -->
                    <div class="text-content tx">
                        <p class="medium">CUSTOMER CARE</p>
                        <p>We strive to provide exceptional customer service through flexible scheduling, quality products, efficient services, and innovative solutions resulting in value to the customer and company.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of services section -->

        <!-- Additional services -->
        <section class="as-content">
            <!-- heading -->
            <p class="heading">Additional Services</p>

            <div class="as-section">
                <!-- illustration -->
                <div class="illustration-2">
                    <img src="../assets/img/illustration/basket.svg" alt="">
                </div>

                <!-- content -->
                <div class="text-content">
                    <p class="large">Support our local farmers</p>
                    <p class="medium-left">We take pride in providing high value products and services that we stand behind, which ensures customer satisfaction, profitability and the future of our employees and our growth. profitability and the future of our employees and our growth.</p>
                    <input type="button" value="Make a donation">
                </div>
            </div>
            
        </section>
        <!-- end additional services -->


        <!-- join us section -->
        <section class="join-us">
            <div class="inner">
                <!-- intro text -->
                <div class="intro-header">
                    <p class="large">Join us and let’s end hunger together!</p>
                </div>

                <!-- illustration -->
                <div class="illustration">
                    <img src="../assets/img/illustration/Layer -2.svg" alt="" width="620" >
                </div>

                <!-- closing text -->
                <div class="c-text">
                    <p class="medium medium-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <input type="button" value="Learn more" onclick="document.location.href='homepage.html'">
                </div>
            </div>
        </section>
    </main>

<script src="../js/index.js"></script>
</body>
</html>