<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <title>AgriCrop</title>
</head>
<body>
    <!-- navigation bar -->
    <div class="navbar">
        <!-- navbar content -->
        <div class="container">
            <!-- navbar brand -->
            <div class="navbar-brand">
                <!-- logo -->
                <img src="../assets/img/logo/Layer 2.svg" alt="" width="50">
                <!-- company name -->
                <p class="brand">AgriCrop</p>
            </div>
            <!-- end of navbar brand -->

            <!-- hamburger menu -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- nav links -->
            <nav>
                <ul class="navlinks">
                    <li><a href="" class="links">Home</a></li>
                    <li><a href="" class="links">About Us</a></li>
                    <li><a href="" class="links">Services</a></li>
                    <li><a href="" class="links">Contact Us</a></li>
                    <li><a href="" class="links">Login</a></li>
                    <li id="createacc"><a href="" class="links">Create account</a></li>
                </ul>
            </nav>
            <!-- end of nav links -->
        </div>
        <!-- end of navbar content -->
    </div>
    <!-- end of navigation bar -->

    <!-- main content -->
    <main>
        <section class="presentation">
            <!-- intro text -->
            <div class="intro-header">
                <p class="large">A Way of Revolutionizing Agriculture</p>
            </div>

            <!-- illustration -->
            <div class="illustration">
                <img src="../assets/img/illustration/h3.svg" alt="" width="620" >
            </div>

            <!-- closing text -->
            <div class="c-text">
                <p class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <input type="button" value="Learn more" onclick="document.location.href='homepage.html'">
            </div>
        </section>

        <!-- section 2 -->
        <section class="mb-content">
            <!-- heading -->
            <div class="ab-content">
                <p class="heading">About AgriCrop</p>

                <p class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                <p class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
            </div>

            <!-- illustration -->
            <div class="illustration-2">
                <img src="../assets/img/illustration/plant.svg" alt="">
            </div>
            
        </section>
        <!-- end of section 2 -->


        <!-- start of values section -->
        <section class="ab-values">
            <!-- heading -->
            <p class="heading">Our values</p>

            <!-- container -->

            <div class="ab-container">
                <!-- content -->
                <div class="values">
                    <!-- value item -->
                    <div class="value">
                        <!-- icon -->
                        <img src="../assets/img/icons/Icon awesome-lightbulb.svg" alt="" width="70">
                        <!-- text -->
                        <div class="text-content">
                            <p class="medium">INNOVATION</p>
                            <p >We foster a work environment where creative thinking is encouraged and rewarded in order to create opportunities for process improvement and more cost-effective sustainable products and services, providing value to the Company and our customers.</p>
                        </div>
                        
                    </div>
                    
                    <!-- value item -->
                    <div class="value">
                        <!-- icon -->
                        <img src="../assets/img/icons/Icon material-high-quality.svg" alt="" width="70">
                        <!-- text -->
                        <div class="text-content">
                            <p class="medium">QUALITY</p>
                            <p >We foster a work environment where creative thinking is encouraged and rewarded in order to create opportunities for process improvement and more cost-effective sustainable products and services, providing value to the Company and our customers.</p>
                        </div>
                    </div>

                    <!-- value item -->
                    <div class="value">
                        <!-- icon -->
                        <img src="../assets/img/icons/icons8-customer-insight-100.svg" alt="" width="90">
                        <!-- text -->
                        <div class="text-content">
                            <p class="medium">CUSTOMER</p>
                            <p >We foster a work environment where creative thinking is encouraged and rewarded in order to create opportunities for process improvement and more cost-effective sustainable products and services, providing value to the Company and our customers.</p>
                        </div>
                    </div>

                </div>
                <!-- end of content -->

                <!-- illustrations -->
                <img src="../assets/img/illustration/Layer -1.svg" alt="" class="bulb1">
                <img src="../assets/img/illustration/Layer -1.svg" alt="" class="bulb2">

            </div>
            
        </section>
    </main>

<script src="../js/index.js"></script>
</body>
</html>