<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>AgriCrop</title>
</head>
<body>
    <!-- navigation bar -->
    <div class="navbar">
        <!-- navbar content -->
        <div class="container">
            <!-- navbar brand -->
            <div class="navbar-brand">
                <!-- logo -->
                <img src="../assets/img/logo/Layer 2.svg" alt="" width="50">
                <!-- company name -->
                <p class="brand">AgriCrop</p>
            </div>
            <!-- end of navbar brand -->

            <!-- hamburger menu -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- nav links -->
            <nav>
                <ul class="navlinks">
                    <li><a href="" class="links">Home</a></li>
                    <li><a href="" class="links">About Us</a></li>
                    <li><a href="" class="links">Services</a></li>
                    <li><a href="" class="links">Contact Us</a></li>
                    <li><a href="" class="links">Login</a></li>
                    <li id="createacc"><a href="" class="links">Create account</a></li>
                </ul>
            </nav>
            <!-- end of nav links -->
        </div>
        <!-- end of navbar content -->
    </div>
    <!-- end of navigation bar -->

    <!-- main content -->
    <main>
        <section class="presentation">
            <!-- intro text -->
            <div class="intro-header">
                <p class="large">A Way of Revolutionizing Agriculture</p>
            </div>

            <!-- illustration -->
            <div class="illustration">
                <img src="../assets/img/illustration/Layer 2.svg" alt="" width="620">
            </div>

            <!-- closing text -->
            <div class="c-text">
                <p class="medium medium-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <input type="button" value="Learn more" onclick="document.location.href='homepage.html'">
            </div>
        </section>
    </main>

<script src="../js/index.js"></script>
</body>
</html>