<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>AgriCrop-Login</title>
    <script src="https://use.fontawesome.com/dfe99fdb12.js"></script>
</head>
<body>
    <!-- navigation bar -->
    <div class="navbar">
        <!-- navbar content -->
        <div class="container">
            <!-- navbar brand -->
            <a href="index.html" class="navbar-brand">
                <!-- logo -->
                <img src="../assets/img/logo/Layer 2.svg" alt="" width="50">
                <!-- company name -->
                <!-- <p class="brand">AgriCrop</p> -->
            </a>
            <!-- end of navbar brand -->

            <!-- hamburger menu -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- nav links -->
            <nav>
                <ul class="navlinks">
                    <li><a href="homepage.html" class="links">Home</a></li>
                    <li><a href="about.html" class="links">About Us</a></li>
                    <li><a href="services.html" class="links">Services</a></li>
                    <li><a href="login.html" class="links">Contact Us</a></li>
                    <li><a href="contact.html" class="links">Login</a></li>
                    <li id="createacc"><a href="signup.html" class="links">Create account</a></li>
                </ul>
            </nav>
            <!-- end of nav links -->
        </div>
        <!-- end of navbar content -->
    </div>
    <!-- end of navigation bar -->

    <!-- login form -->
    <main>
        <section class="ag-login">
            <div class="login-plaque">
                <div class="left-side">
                    <!-- heading -->
                    <img src="../assets/img/icons/Icon awesome-user-circle.svg" alt="" width="100">
                    <p class="h-text">USER LOGIN</p>
                    <p class="slogan">Welcome to AgriCrop</p>
                   

                    <!-- login form -->
                    <div class="login-form">
                        <form action="">
                            <!-- username field -->
                            <div class="field">
                                <label for="">Email</label>
                                <i class="fa fa-envelope icon"></i>
                                <input type="text" name="" id="" placeholder="Email">
                            </div>

                            <!-- password field -->
                            <div class="field">
                                <label for="">Password</label>
                                <i class="fa fa-lock icon"></i>
                                <input type="password" name="" id="" placeholder="Password">
                            </div>

                            <!-- button -->
                            <input type="button" value="Login">

                            <!-- create account and forgot password -->
                            <div class="ques">
                                <p>Not a member? <a href="">Create an Account</a></p>
                                <p><a href="signup.html">Forgot password?</a></p>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="right-side">
                    <!-- illustration -->
                    <!-- <img src="../assets/img/illustration/login-bg.svg" alt=""> -->
                </div>
                
            </div>
        </section>
    </main>
<script src="../js/index.js"></script>
</body>
</html>