<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/team.css">
    <title>AgriCrop</title>
</head>
<body>
    <!-- navigation bar -->
    <div class="navbar">
        <!-- navbar content -->
        <div class="container">
            <!-- navbar brand -->
            <div class="navbar-brand">
                <!-- logo -->
                <img src="../assets/img/logo/Logo-black.png" alt="" width="50">
                <!-- company name -->
                <p class="brand">AgriCrop</p>
            </div>
            <!-- end of navbar brand -->

            <!-- hamburger menu -->
            <div class="burger team">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <!-- nav links -->
            <nav>
                <ul class="navlinks">
                    <li><a href="homepage.html" class=" t-link">Home</a></li>
                    <li><a href="about.html" class=" t-link">About Us</a></li>
                    <li><a href="services.html" class=" t-link">Services</a></li>
                    <li><a href="contact.html" class=" t-link">Contact Us</a></li>
                    <li><a href="login.html" class=" t-link">Login</a></li>
                    <li id="createacc"><a href="signup.html" class="links t-link">Create account</a></li>
                </ul>
            </nav>
            <!-- end of nav links -->
        </div>
        <!-- end of navbar content -->
    </div>
    <!-- end of navigation bar -->

    <!-- main content -->
    <main>
        <div class="heading">
            <p class="caption">MEET THE TEAM</p>
            <hr>
        </div>
        <section class="member">
            <div class="p-container">
                <img src="../assets/img/profiles/WhatsApp Image 2021-04-27 at 8.40.03 PM.jpeg" alt="">
            </div>
            <div class="content">
                <p class="name">DADADAD DADADADA DADADAD</p>
                <div class="right-content">
                    <p class="bio">Lorem Ipsum is simply dummy text of the printing and typeset\ 
Lorem Ipsum has been the industry's standard dummy text ever
 when an unknown printer took a galley of type and scrambled . 
It has survived not only five centuries, but also the leap into \y 
unchanged. It was popularised in the 1960s wi</p>
                    <p class="s-media">
                        <a href=""><img src="../assets/img/icons/Icon awesome-linkedin.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon awesome-twitter.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon ionic-md-mail.svg" alt=""></a>
                    </p>
                </div>
            </div>
        </section>

        <section class="member">
            <div class="p-container">
                <img src="../assets/img/profiles/WhatsApp Image 2021-04-29 at 3.55.17 PM.jpeg" alt="">
            </div>
            <div class="content">
                <p class="name">DADADAD DADADADA DADADAD</p>
                <div class="right-content">
                    <p class="bio">Lorem Ipsum is simply dummy text of the printing and typeset\ 
Lorem Ipsum has been the industry's standard dummy text ever
 when an unknown printer took a galley of type and scrambled . 
It has survived not only five centuries, but also the leap into \y 
unchanged. It was popularised in the 1960s wi</p>
                    <p class="s-media">
                        <a href=""><img src="../assets/img/icons/Icon awesome-linkedin.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon awesome-twitter.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon ionic-md-mail.svg" alt=""></a>
                    </p>
                </div>
            </div>
        </section>

        <section class="member">
            <div class="p-container">
                <img src="../assets/img/profiles/WhatsApp Image 2021-04-27 at 9.06.08 PM.jpeg" alt="">
            </div>
            <div class="content">
                <p class="name">DADADAD DADADADA DADADAD</p>
                <div class="right-content">
                    <p class="bio">Lorem Ipsum is simply dummy text of the printing and typeset\ 
Lorem Ipsum has been the industry's standard dummy text ever
 when an unknown printer took a galley of type and scrambled . 
It has survived not only five centuries, but also the leap into \y 
unchanged. It was popularised in the 1960s wi</p>
                    <p class="s-media">
                        <a href=""><img src="../assets/img/icons/Icon awesome-linkedin.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon awesome-twitter.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon ionic-md-mail.svg" alt=""></a>
                    </p>
                </div>
            </div>
        </section>

        <section class="member">
            <div class="p-container">
                <img src="../assets/img/profiles/3834d629-ced3-41b1-b909-1dbb48fed9b8.jpg" alt="">
            </div>
            <div class="content">
                <p class="name">DADADAD DADADADA DADADAD</p>
                <div class="right-content">
                    <p class="bio">Lorem Ipsum is simply dummy text of the printing and typeset\ 
Lorem Ipsum has been the industry's standard dummy text ever
 when an unknown printer took a galley of type and scrambled . 
It has survived not only five centuries, but also the leap into \y 
unchanged. It was popularised in the 1960s wi</p>
                    <p class="s-media">
                        <a href=""><img src="../assets/img/icons/Icon awesome-linkedin.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon awesome-twitter.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon ionic-md-mail.svg" alt=""></a>
                    </p>
                </div>
            </div>
        </section>

        <section class="member">
            <div class="p-container">
                <img src="../assets/img/profiles/WhatsApp Image 2021-04-29 at 2.49.27 PM.jpeg" alt="">
            </div>
            <div class="content">
                <p class="name">DADADAD DADADADA DADADAD</p>
                <div class="right-content">
                    <p class="bio">Lorem Ipsum is simply dummy text of the printing and typeset\ 
Lorem Ipsum has been the industry's standard dummy text ever
 when an unknown printer took a galley of type and scrambled . 
It has survived not only five centuries, but also the leap into \y 
unchanged. It was popularised in the 1960s wi</p>
                    <p class="s-media">
                        <a href=""><img src="../assets/img/icons/Icon awesome-linkedin.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon awesome-twitter.svg" alt=""></a>
                        <a href=""><img src="../assets/img/icons/Icon ionic-md-mail.svg" alt=""></a>
                    </p>
                </div>
            </div>
        </section>

    <!-- footer -->
    <div class="footer">
        <footer>
            <div class="f-heading">
                <div class="left-content">
                    <p class="medium medium-left">AgriCrop</p>

                    <p class="hide">Join the fight against hunger</p>
                </div>

                <!-- social media links -->
                <div class="socials">
                    <img src="../assets/img/icons/Icon awesome-facebook.svg" alt="">
                    <img src="../assets/img/icons/Icon awesome-instagram.svg" alt="">
                    <img src="../assets/img/icons/Icon awesome-twitter.svg" alt="">
                    <img src="../assets/img/icons/Icon awesome-linkedin.svg" alt="">
                </div>

                
            </div>

            <!-- other links -->
            <div class="f-links">
                <div class="left-links t-help">
                    <p><a href="#">Contacts</a></p>
                    <p><a href="#">FAQ</a></p>
                    <p><a href="#">Donation</a></p>
                    <p><a href="#">Terms of Service</a></p>
                    <p><a href="#">Privacy policy</a></p>
                </div>

                <div class="right-links t-help">
                    <p><a href="#">AgriCrop</a></p>
                    <p><a href="#">Services</a></p>
                    <p><a href="#">News</a></p>
                    <p><a href="#">Shopping</a></p>
                    <p><a href="#">Additional features</a></p>
                </div>
            </div>

            <!-- subscription -->
            <div class="subscription">
                <div class="msg">
                    <img src="../assets/img/icons/Icon feather-mail.svg" alt="">
                    <p>Stay up to date on the latest from AgriCrop</p>
                </div>

                <!-- input box -->
                <input type="text" name="" id="" placeholder="Enter email address" class="t-textbox">

                <input type="button" value="Subscribe">
            </div>
        </footer>
        <!-- <hr> -->
        
    </div>
    <div class="copyright">
        <img src="../assets/img/icons/Icon awesome-copyright.svg" alt="">
        <p>2021 AgriCrop</p>
    </div>
        
    </main>

<script src="../js/index.js"></script>
</body>
</html>